.wrapper {
    @include flex-centered(column);
    width: 100%;
    @include media('desktop') {
        align-items: flex-start;
    }
}

.information {
    @include flex-centered(column);
    width: 100%;
    margin-top: $margin-l;

    text-align: center;

    @include media('tablet') {
        margin-top: $margin-xl;
    }
    @include media('desktop') {
        align-items: flex-start;
        margin-top: $margin-under-title;
    }
}
.info {
    max-width: 100%;
    strong {
        color: $gray-light;
    }
    @include media('tablet') {
        max-width: 70%;
    }
    @include media('desktop') {
        max-width: 35%;
        text-align: left;
    }

    p {
        font-size: 1.4rem;
        line-height: initial;
        @include media('mobile') {
            font-size: $font-size-sm;
            line-height: 2.4rem;
        }
    }
}
