.parent {
    position: relative;
    background: $main-color;
    width: 100%;
    height: 100vh;

    @include flex-centered(column);
}

.bgimage {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: none;
    @include media('tablet') {
        display: block;
        height: 66%;
    }
    @include media('custom', 800) {
        height: auto;
    }

    & > img {
        object-fit: contain !important;
        object-position: 0% 0% !important;
        font-family: 'object-fit: cover !important; object-position: 0% 0% !important;';
    }
}

.content {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
}
