.burger {
    position: absolute;
    right: 1.5rem;
    top: 50%;
    transform: translate(0%, -50%);
    @include flex-centered(column, space-around);
    width: 2rem;
    height: 2rem;
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    margin-top: $margin;
    z-index: 2;

    &:focus {
        outline: none;
    }

    div {
        width: 2rem;
        height: 0.25rem;
        background: $font-color;
        border-radius: 10px;
        transition: all 0.3s linear;
        position: relative;
        transform-origin: 1px;
    }

    &.active {
        :first-child {
            transform: rotate(45deg);
        }
        :nth-child(2) {
            opacity: 0;
            transform: translate(10px);
        }
        :nth-child(3) {
            transform: rotate(-45deg);
        }
    }
}
