.title {
    font-size: $font-size-l;
    font-weight: $font-weight-200;
    text-align: center;
    margin: 0 0;

    @include media('custom', 550) {
        max-width: 80%;
        span {
            width: 100%;
            display: inline-block;
        }
    }
    @include media('tablet') {
        font-size: $font-size-l !important;
    }
    @include media('desktop') {
        max-width: 100% !important;
        font-size: $font-size-xl !important;
    }
}
.small {
    font-size: $font-size-s;
    @include media('mobile') {
        font-size: $font-size-sm;
    }
}
.glowing {
    text-shadow: $shadow, $shadow, $shadow;
}
