$page-animation: opacity 700ms ease-out;
$page-animation-desktop: opacity 300ms ease-out;

@mixin desktopAnimation() {
    transition: $page-animation;
    @include media('desktop') {
        transition: $page-animation-desktop;
    }
}

.entering {
    opacity: 0;
    @include desktopAnimation();
}
.entered {
    opacity: 1;
    @include desktopAnimation();
}
.exiting {
    opacity: 0;
    @include desktopAnimation();
}
.exited {
    opacity: 0;
    @include desktopAnimation();
}
