.wrapper {
    @include flex-centered(column, flex-start);
    width: 100%;
    min-height: 100vh;
    height: 100%;

    @include media('desktop') {
        padding: $padding-xl $padding 0;
    }
}

.limitedHeigth {
    height: 100vh;
}

.container {
    @include flex-centered(column, flex-start, center);
    width: 100%;
    height: calc(100% - 30px);
    padding: 0rem $padding-m 0;
    margin-top: 2rem;
    @include media('tablet') {
        margin-top: $margin-under-title;
    }
    @include media('custom', 1024) {
        margin-top: $margin-xl;
    }

    @include media('desktop') {
        max-width: $content-width;
        height: calc(100% - 59px);
        margin-top: $margin-xl;
    }
}
.zeroTopMargin {
    margin-top: 0;
    @include media('desktop') {
    }
}

.main {
    @include flex-centered(column);
    flex: 1;
    height: 100%;
    width: 100%;

    @include media('tablet') {
        @include flex-centered(column, flex-start, flex-start);
        padding: 0 $padding-s;
    }
}
