.wrapper {
    @include flex-centered(column, flex-start);
    width: 100%;
    min-height: 100vh;
    @include media('desktop') {
        min-height: 100vh;
        padding: 0 $padding;
    }
}

.container {
    width: 100%;
    height: 100%;
    padding: 1.5rem $padding-m 0;
    @include media('mobile') {
        padding: 2.5rem $padding-m 0;
    }
    @include media('tablet') {
        margin-top: 3rem;
    }
    @include media('desktop') {
        max-width: $content-width;
        margin-top: 5rem;
    }
}

.main {
    @include flex-centered(column);
    height: 100%;
    width: 100%;
    @include media('tablet') {
        @include flex-centered(column, flex-start, flex-start);
        padding: 0 $padding-s;
    }
}
